{% include 'header.html' %}
<!DOCTYPE html>
<html>
    <body>  
        <center>
            <div> <h1> Settings </h1> </div>
            <div>
                <h2>
                    Device Config
                </h2>
            </div>
            <div>
                
                    {% for device in dev_list %}
                    <div>
                        <h3>{{device["MAC"]}}</h3>
                        <p>
                            <form action="/config" method="POST">
                            <label for={{device["MAC"]}}-nick> Nickname: </label>
                            <input type="name" name={{device["MAC"]}}-nick placeholder={{device["nick"]}}>
                            </form>
                        </p>
                        <p>
                            <form action="/config" method="POST">
                            <label for="{{device["MAC"]}}-hum_comp"> Humidty Compensation: </label>
                            <input type="number" name={{device["MAC"]}}-hum_comp placeholder={{device["hum_comp"]}}> 
                            </form>
                        </p>  
                        <p>
                            <form action="/config" method="POST">
                            <label for="{{device["MAC"]}}-temp_comp"> temperature Compensation: </label>
                            <input type="number" name="{{device["MAC"]}}-temp_comp" placeholder={{device["temp_comp"]}}>
                            </form>
                        </p> 
                        
                    </div>
                {% endfor %}
                
            
            </div>
            <div> <h2> Misc Settings</h2></div>
            <div> 
                <form action="/config" method="POST">
                    <label for="m_sync_refresh_rate"> Measurement Refresh (seconds)</label>
                    <input type="number" name="m_sync_refresh_rate" placeholder={{config["m_sync_refresh_rate"]}} >
                    <button type="submit"> Submit </button>
                </form>
            </div>
            <div> 
                <form action="/config" method="POST">
                    <label for="startup_message"> Startup message </label>
                    <input type="text" name="startup_message" placeholder={{config["startup_message"]}} >
                    <button type="submit"> Submit </button>
                </form>
            </div>
            
            <div>
                <h3> Current db size: {{db_size}}</h3>
            </div>
            <div>
                <form action="/config" method="POST">
                    <button type="submit" name="save_config"> Save config file </button>
                </form>
            </div>
        </center>
    </body>
</html>