{% include 'header.html' %}
<!DOCTYPE html>
<html>
    <body>  
        <center>
            <div> <h1> Settings </h1> </div>
            <div>
                <h2>
                    Nickname Config
                </h2>
            </div>
            <div>
            {% for device in dev_list %}
                <div>
                    <form action="/config" method="POST">
                        <label for={{device["MAC"]}}> {{device["MAC"]}} </label>
                        <input type="name" name={{device["MAC"]}} placeholder={{device["nick"]}} >
                        <button type="submit">Submit  </button> 
                    </form>
                </div>
            {% endfor %}
            </div>
            <div> <h2> Misc Settings</h2></div>
            <div> 
                <form action="/config" method="POST">
                    <label for="m_sync_refresh_rate"> Measurement Refresh (seconds)</label>
                    <input type="number" name="m_sync_refresh_rate" placeholder={{config["m_sync_refresh_rate"]}} >
                    <button type="submit"> Submit </button>
                </form>
            </div>
            <div> 
                <form action="/config" method="POST">
                    <label for="startup_message"> Startup message </label>
                    <input type="text" name="startup_message" placeholder={{config["startup_message"]}} >
                    <button type="submit"> Submit </button>
                </form>
            </div>
            
            <div>
                <h3> Current db size: {{db_size}}</h3>
            </div>
        </center>
    </body>
</html>