{% include 'header.html' %}
<!DOCTYPE html>

<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta http-equiv="refresh" content={{t_input["refresh_delay"]}} >
    </head>

<div>
    <center>
        <form action="/" method="POST" id="data_period_form">
            <label for="data_period"> Select a time period:</label>
            <select name="data_period" id="data_period" form="data_period_form">
                
                {% for pre in t_input["preset_keys"]%}
                <option value={{pre}}>{{t_input["presets"][pre]["disp"]}}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>

        <form action="/" method="POST" id="compensation_form">
            <label for="compensation"> Enable User Compensation: </label>
            <input type="checkbox" id="compensation" name="compensate" value=True {{ "checked" if t_input["compensate"]}}/>
            <button type="submit">Submit</button>
        </form>
    </center>
</div>
<div>
    <center> <h2> Displaying the {{t_input["presets"][t_input["current_period"]]["disp"]}} </h2></center>
    {{t_input["temp_plot"]}}

    {{t_input["hum_plot"]}}

    {{t_input["pres_plot"]}}

    {{t_input["pm_plot"]}}
</div>
    

    
</html>